$orange: #ffc47ff7;
$green: #94e594;

.root span {
  background: $orange;
}

.scale span {
  background: $green;
}

.fretRow {
  .fretMark {
    &:not(.scale):not(.root) span {
      background: #eee;
    }

    position: relative;
    z-index: 3;
    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 97.5%;
      height: 50%;
    }
  }

  &:first-child,
  &:last-child {
    .fretMark {
      &:not(.scale):not(.root) span {
        background: none;
      }
    }
  }

  &:not(:last-child) {
    .fretMark {
      &:after {
        top: 53%;
        background: #eee;
      }
    }
  }

  &:not(:first-child) {
    .fretMark {
      &:before {
        bottom: 53%;
        background: #eee;
      }
    }
  }
}
